MONGO_URI=mongodb://localhost:27017/lynkcircles
JWT_SECRET=change-me-to-a-long-random-string
CLIENT_URL=http://localhost:3001

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

MAILTRAP_API_TOKEN=
MAILTRAP_SENDER_EMAIL=

NODE_ENV=development
PORT=5100
